createdAt: "2019-08-22T16:19:19.363Z"
updatedAt: "2019-08-22T16:20:57.741Z"
type: "MARKDOWN_NOTE"
folder: "830f33e7d047ca73102c"
title: "GCP Data"
tags: []
content: '''
  # GCP Data
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
